<div id="main" style="margin-top:-20px">
  <div class="auto_t_r w960">
    <div class="auto_t_l">&nbsp;</div>
    <div class="auto_b_r"><div class="auto_b_l"> 
      <div id="yourhear"><a href="shop.php">消费点评</a> &raquo; <a href="shops.php?class=8">生活服务</a> &raquo; <a href="#">婚庆摄像</a>           <a href="#">音乐制作</a> <a href="#">MV拍摄</a> &raquo;
          新偶像影音传媒有限公司
        </div>
		<div id="left" style="width:640px;float:left;background-color:#00FF00;">
		<div id="title">
      <%= @business.name %>
	   </div>
           <div class="left_c">
      <div class="review">
	  <div id="review_left"> 
          <ul class="star">
            <li><font>质量：</font>
            <p class="star00"></p>
            </li>
            <li><font>环境：</font>
            <p class="star00"></p>
            </li>
            <li><font>服务：</font>
            <p class="star00"></p>
            </li>
          </ul>
		   <div class="review_c1"> <ul><li>地址：<%= @business.address %></li>
              <li>电话：<%= @business.phone %>&nbsp;&nbsp;</li>
              <li>公交线路：
              <%= @business.bus %> </li>
            </ul>
          </div>
		   <div class="review_c2">
            <ul>
              <li>
              分类：<span>
                <%= @business.serve_category.name %>
              </span>
              </li>
              <li>营业时间：<span><%= @business.working %></span></li>
              <li>备注：<span></span></li> 
              <li>人气：<span><%= @business.views_count %></span>	</li>
          </ul></div>
		  
		  
		  
		  
      </div>
    </div>
  </div>
           
		 
		  
		</div>
		<div id="right" style="width:260px; float:right;background-color:#00FF00;">
		fsdfds
		</div>
		
		
		   
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="clear">&nbsp;</div>
</div>
