<div id="header">
  <div id="logo"><a href="http://www.mimimama.com"><img src="../images/image/logo.gif" alt="密密麻麻网" /></a></div>
  <div id="header_link">
    <ul>
      <li><a href="http://www.mimimama.com/sitemap/">网站地图</a></li>
      <li class="help"><a href="http://www.mimimama.com/help/">帮助中心</a></li>
      <li><a href="http://www.mimimama.com/buycard/card_index.php">会员服务</a></li>
      <li><a href="http://www.mimimama.com/blogs.php">博客</a></li>
      <li><a href="http://www.mimimama.com/usershall.php">社区</a></li>      
            <li>你好，欢迎光临！<a href="http://www.mimimama.com/login.php?r=%2F">[登录]</a><a href="http://www.mimimama.com/register.php?r=%2F">[注册]</a></li>
    </ul>
  </div>  <div id="header_nav">
    <div id="left_sidebar">
      <ul>
        <li class="tb"><a href="http://www.mimimama.com/index.php">首 页</a></li>        
        <li class="ta"><a href="http://sale.mimimama.com/marry/">导 购</a></li>
        <li class="ta"><a href="http://sale.mimimama.com/home/">信 息</a></li>
        <li class="ta"><a href="http://sale.mimimama.com/doc/1/listpage/sale_p_p_4_20_1.html">知 道</a></li>
        <li class="ta"><a href="http://sale.mimimama.com/peixun/">企&nbsp;业</a></li>
        <li class="ta"><a href="http://sale.mimimama.com/doc/1/listpage/sale_p_p_6_20_1.html">社 区</a></li>
      </ul>
    </div>
    <div id="right_sidebar">
      <ul>
        <li class="t4"><a href="http://www.mimimama.com/forum">论坛</a></li>
        <li class="t1"><a href="http://www.mimimama.com/campaign.php">消费活动</a></li>
        <li class="t1"><a href="http://www.mimimama.com/shop.php">消费点评</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="search">
  <div id="search_lbg">
    <div id="search_rbg">
      <div id="nav_search">
        <form id="head_searchform" action="http://so.mimimama.com/s/search.jsp" onsubmit="return this.key.value!=''" target="_blank">
          <span id="sub_nav1">
            <input name="key" type="text" class="tfield" id="key" onfocus="if('请输入关键词，如婚庆，酒吧...'==this.value)this.value=''" onblur="if(''==this.value)this.value='请输入关键词，如婚庆，酒吧...'" value="请输入关键词，如婚庆，酒吧..." size="50" />
          </span>
          <button type="submit" id="sub_nav2">搜索</button>
          <input name="si" type="hidden" id="searchform_si" value="2" />
          <div id="sub_nav3"><a href="http://so.mimimama.com/">高级搜索</a></div>
        </form>
      </div>
      <div id="telephone"><a href="http://www.mimimama.com/buycard/card_index.php" title="申领密密麻麻网会员卡，有问题请拨打客服电话：4006-829-353" target="_blank">申领密密麻麻网会员卡有问题请拨打客服电话：4006-829-353</a></div>
    </div>
  </div>
</div>
<div id="main">
 <div id="self_message_left_content">
    <div class="left auto_t_b_r w200">  
           <div class="auto_t_b_l"><h1>发布人资料</h1></div>  
             <div class="auto_b_r"><div class="auto_b_l">
                   <div id="m_pro" class="modbox">
          <ul>
            <li class="image"><img src="/images/noface.jpg" width="80" height="80" /></li>
            <li class="user">
              <!--<img src="/skins/spaces/default/images/mama.gif" alt="美女" width="20" height="18" />-->
              美女 | 20岁</li>
            <li class="a"><a href="mysetting.php?step=4">修改头像</a></li>
            <li class="b"><a href="newpost.php"> 发表文章</a></li>
            <li class="c"><a href="newphoto.php">上传照片</a></li>
            <li class="desc addr">地点：
              青岛 </li>
            <li class="desc">等级：      
              军团学员 </li>
            <li class="desc">积分：
              14 </li>
            <li class="desc">上次登录：
              5分钟以前 </li>
            <li class="clear">&nbsp;</li>
          </ul>
          <div class="clear">&nbsp;</div>
        </div>
      </div>
          </div></div>  
      </div>
	  <div class="left auto_t_b_r w200">  
           <div class="auto_t_b_l"><h1>您最近的浏览历史</h1></div>  
             <div class="auto_b_r"><div class="auto_b_l">
                <ul>
                 <li>fsafsdfdsfdsaf</li>
		         <li>fsafsfdsfsddaf</li>
				    <li>fsafsdfdsfdsaf</li>
		         <li>fsafsfdsfsddaf</li>
				  <li>fsafsdfdsfdsaf</li>
		         <li>fsafsfdsfsddaf</li>
				 <li>fsafsdfdsfdsaf</li>
		         <li>fsafsfdsfsddaf</li>
				 <li>fsafsdfdsfdsaf</li>
	
		      </ul>
          </div></div>  
      </div>
</div>
 <div id="self_message_right_content">
    <div class="left auto_t_b_r w760">  
           <div class="auto_t_b_l"><h1>当前产品信息</h1></div>  
             <div class="auto_b_r"><div class="auto_b_l">
                <ul>
                 <li>fsafsdfdsfdsaf</li>
		         <li>fsafsfdsfsddaf</li>
				    <li>fsafsdfdsfdsaf</li>
		         <li>fsafsfdsfsddaf</li>
				  <li>fsafsdfdsfdsaf</li>
		         <li>fsafsfdsfsddaf</li>
				 <li>fsafsdfdsfdsaf</li>
		         <li>fsafsfdsfsddaf</li>
				 <li>fsafsdfdsfdsaf</li>
	
		      </ul>
          </div></div>  
     </div>
	 </div>
    <div class="left auto_t_b_r w543">  
           <div class="auto_t_b_l"><h1>您可能关注的其它信息</h1></div>  
             <div class="auto_b_r"><div class="auto_b_l">
                <ul>
                 <li>fsafsdfdsfdsaf</li>
		         <li>fsafsfdsfsddaf</li>
				    <li>fsafsdfdsfdsaf</li>
		         <li>fsafsfdsfsddaf</li>
				  <li>fsafsdfdsfdsaf</li>
		         <li>fsafsfdsfsddaf</li>
				 <li>fsafsdfdsfdsaf</li>
		         <li>fsafsfdsfsddaf</li>
				 <li>fsafsdfdsfdsaf</li>
	
		      </ul>
          </div></div>  
     </div>
 </div>
 </div>
</div><div class="clear"></div>
<div id="footer">
  <div class="t_b_c"><div class="t_b_l"><div class="t_b_r"></div></div></div>
     <div id="footer_box">
       <div class="m_l"><div class="m_r">
          <a href="http://www.mimimama.com/about/index.html">关于我们</a>&nbsp;&nbsp;&nbsp; <a href="http://www.mimimama.com/about/index_media.html">媒体报道</a>&nbsp;&nbsp;&nbsp; <a href="http://www.mimimama.com/about/index_ad.html">广告服务</a>&nbsp;&nbsp;&nbsp;<a href="http://www.mimimama.com/about/index_joinus.html">招贤纳士</a>&nbsp;&nbsp;&nbsp; <a href="http://www.mimimama.com/about/index_copy.html">版权说明</a>&nbsp;&nbsp;&nbsp; <a href="http://www.mimimama.com/about/index_lianxi.html">联系我们</a>&nbsp;&nbsp;&nbsp; <a href="http://www.mimimama.com/ulinks.php">友情链接</a> &nbsp;&nbsp;&nbsp;<a href="http://login.sale.mimimama.com/">客户登录</a><br />
Copyright 2005-2008, 版权所有mimimama.com&nbsp;TEL:+86 028 66288015,4006-829-353<br />
         青藤互动：<a href="http://www.mimimama.com" target="_blank">密密麻麻网</a> | <a href="http://life.169ol.com/" target="_blank">联通分站</a> | <a href="http://www.lx1999.com.cn" target="_blank">龙翔手机</a> | <a href="http://www.028auto.net/" target="_blank">成都汽车网</a> <br />
蜀ICP备<a href="http://www.miibeian.gov.cn/" target="_blank" title="网络备案号06011367">06011367</a>号 
  </div></div></div>   
      <div class="b_c"><div class="b_l"><div class="b_r"></div></div></div>
</div>

















































<div class="classinfo">
  <h2>
    <%= link_to @info.title, info_path(:id => @info) %>
  </h2>
  <p class="author">发布时间：<%= @info.created_at.strftime("%Y-%m-%d %H:%M:%S")%></p>
  <p class="infotxt">
  <%= @info.content %>
  </p>
  <p class="contact"><strong>浏览量:</strong><%= @info.views_count%><strong>联系方式</strong>：<%= @info.phone %></p><br>
</div>

<span>网友的留言</span>
<div id="RemarkContent">
  <% @info.comments.each do |comment|%>
    <% if comment.space.avatar %>
      <%= image_tag(comment.space.avatar.public_filename(:tiny))%>
    <% else %>
      <%= image_tag("../images/noface_tiny.jpg") %>
    <% end %>
    <%= link_to comment.space.user.login_name, space_path(:id => comment.space)%>
    <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S")%>
  <% end %>
</div>
<a name="p"></a>
<span>我要留言</span>
<% form_for :comment, :url => info_comments_path(:info_id => @info) do |f|%>
  <div class="inputText">
    <%= f.text_area :content, :rows => 5, :cols => 40%>
    <br/>
    <%= f.hidden_field (:item_type, :value => "Info") %>
    <%= f.hidden_field (:item_id, :value => @info.id) %>
    <input name="switch" value="<%= info_path(:id => @info)%>" type="hidden">
    <%= submit_tag '提交' %>
  </div>
<% end %>
</fieldset>
