
<div id="main">
    <div id="question_content" class="auto_t_r">
        <div class="auto_t_l">&nbsp;</div>
          <div class="auto_b_r"><div  class="auto_b_l">
            <div id="question_content_l">
	    <% form_for :ask, :url => ask_path, :html => {:method => :put} do |f|%>
        <div class="asks_title">
        <strong><span class="redsymbol">*</span>类别：</strong>
           <%= f.select :ask_category_id, AskCategory.find(:all).map {|m| [m.name, m.id]}%>
         </div>
        <div class="asks_title">
       <strong><span class="redsymbol">*</span>您的提问：</strong>
          <%= f.text_field :title, :class => 'input' %>
        </div>
      <div class="ask_content">
        <strong><span class="redsymbol">*</span>提问内容：</strong>
        <%= javascript_include_tag :fckeditor%>
        <%= fckeditor_textarea ('ask', 'content', {:toolbarSet => 'Simple', :width => '570px', :height => '250px' }) %>
        </div>
        <div class="r">
          <p><%= submit_tag '提交'%></p>
        </div>
     <% end %>
	 </div>
  <div id="question_content_r">
     <div id="know_question1">
	 <ul>
	 <li><h4 class="green">如何提问？</h4> <a href="#" class="more">更多&gt;&gt;</a></li>
	 <li> 在提问框中输入您的问题，然后点&quot;提交问题&quot;按钮就ok啦！
          小秘籍：高级设置可以让您的问题更抢手~</li>
	 </ul>
	 </div>
	  <div id="know_question2">
	    您目前尚未登录，只能通过邮件获取回答通知，建议您<a href="#">登录</a>后提问，以便查询网友全部回答。
	 </div>
  </div><div class="clear"></div>
  </div></div> 
</div><div class="clear"></div>



