<div id="body_bg">
<div id="main">
<!--头部-->
<div id="header">
  <div id="header_sub1">
    <ul>
      <li><a href="#">工作台</a></li>
      <li><a href="#">帮助</a></li>
    </ul>
  </div>
  <div class="clear"></div>
 <div id="header_messasge"> 
    您有<%= link_to @messages.size, admin_messages_path %>条外来短信
  </div>
  <div id="header_menu">
    <ul>
      <li><%= link_to '退出管理', :action => 'logout'%></li>
      <li><a href="#">问题反馈</a></li>
      <li><a  href="#">首页</a></li>
    </ul>
  </div>
</div>
<div class="clear"></div>
<!--左侧内容-->
   <div id="frmTitle">
    <iframe frameBorder="0" id="carnoc" name="carnoc" scrolling="no" src="" style="HEIGHT: 10px; VISIBILITY: inherit; WIDTH: 1px; Z-INDEX: 2">
	</iframe> 
	 <div id="welcome">
</div>
	 <div id="menu">
	 <ul>
   <li><%= link_to '用户管理', admin_users_path %></li>
	   <li><%= link_to '样式管理', admin_theme_categories_path %></li>
       <li><%= link_to '信息管理', admin_info_categories_path %></li>
       <li><%= link_to '企业管理', admin_company_categories_path %></li>
	   <li><%= link_to '知道管理', admin_ask_categories_path %></li>
       <li><%= link_to '点评管理', admin_serve_categories_path %></li>
       <li><%= link_to '等级管理', admin_grades_path %></li>
	   <li></li>
	   <li></li>
	   <li></li>
	   <li></li>
	   <li></li>
	    <li></li>
	   <li></li>

	 </ul>
	 </div><div class="clear"></div>
	 <div id="search">
	   <input name="text" type="text" />
	   <button type="submit" id="search_bottom">搜索</button>
	 </div>
   </div>
       
   <div id="frmcontent" style="display:block">
    <div id="top_sub_menu"><div id="top_sub_l">
     <div id="l_menu">
	  <ul>  
	     
	  </ul>
	</div>
   </div></div><div class="clear"></div>
   <div id="index_content_01">
   <%#= link_to '收件箱', user_messages_path(:user_id => @user.id), :class => 'on' %>
  <b> <%#= link_to '发件箱', message_to_user_messages_path(:sender_id => @user.id), :method => :put %></b> |
  <%#= link_to '垃圾箱', trashbox_user_messages_path(:user_id => @user.id), :method => :put %>
  <% form_for :message, :url => renew_admin_message_path(:recipient_id => @recipient.id, :id => @current_message.id), :html => { :method => :put} do |f|%>
    <ul>
         <li>收件人：
            <span class="STYLE1">*</span><%= text_field_tag :recipient_id, h(@recipient.login_name) %>
          </li>
       
           <li>标 &nbsp;题：
            <span class="STYLE1">*</span> <%= text_field_tag :title, h(@current_message.title) %></li>
           <li>内容：<span class="STYLE1">*</span><li>
           <%= javascript_include_tag :fckeditor%>
            <%= fckeditor_textarea ('message', 'content', {:toolbarSet => 'Simple', :width =>'600px', :height => '200px' }) %>
        
            <%= submit_tag 'Save', :class => 'button' %>
			
       <ul>
  <% end %>
   </div><div class="clear"></div>
   <div id="bot_c"><div id="bot_l"></div></div>
  </div>
   <div class="clear"></div>
   <div id="footer"><div id="f_b_l">
   </div></div>
</div>
</div>





















 