<div id="admin_bg">
<div id="admin_content">
<div id="admin_login_main">
  <div id="admin_login">
      <% if flash[:error]%>
        <%= flash[:error]%>
      <% end %>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <% form_tag :controller => 'admin/home', :action => 'login' do %>
       <ul>
		 <li>
          <strong>用户名：</strong>
          <%= text_field_tag :name, nil, :class => 'input'%>
         </li>
		<li>
		  <strong>密 &nbsp;码：</strong>
          <%= password_field_tag :password, nil, :class => 'input'%>
		</li>
		<li>
          <strong>验证码：</strong>
          <%= text_field_tag :name, nil, :class => 'test_buttom'%><img class="test_img" scr="../images/admin/dl-1.jpg"/>
        </li>
		<li class="bottom"><%= submit_tag '登录', :class => 'login_buttom'%>
			               <%= submit_tag '重置' ,:class => 'submit_buttom'%>
		</li>  
        </ul>
      <% end %>
  </div>
</div>
</div>
</div>
