<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<% form_for :company, :url => {:action => :edit_password} do |f|%>
  <table border="0" cellpadding="5" cellspacing="0" width="100%">
    <tbody><tr>
        <td width="13%">当前密码：</td>
        <td width="87%"><%= f.password_field :oldpassword, :class => 'input'%></td>
      </tr>
      <tr>
        <td>新密码：</td>
        <td><%= f.password_field :password, :class => 'input' %></td>
      </tr>
      <tr>
        <td>确认新密码：</td>
        <td><%= f.password_field :password_confirmation, :class => 'input' %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><label>
            <%= submit_tag '提交修改', :class => 'button' %>
        </label></td>
      </tr>
  </tbody></table>
<% end %>
