<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<% form_for :company, :url => company_path, :html => {:method => :put}  do |f|%>
  <h3>请填写你的用户名</h3>
  <ul><label>企业名称：</label>
    <%= f.text_field :login_name %> <span>*</span>
  </ul>
  <ul><label>您的姓名：</label>
    <%= f.text_field :master_name%> <span>*</span>
  </ul>
  <ul><label>您的地址：</label>
    <%= f.text_field :address %> <span>*</span>
  </ul>
  <ul><label>电话联系：</label>
    <%= f.text_field :phone %> <span>*</span>
  </ul>
  <ul><label>公司传真：</label>
    <%= f.text_field :fax %> <span>*</span>
  </ul>
 <ul><label>公司网址：</label>
    <%= f.text_field :website%> <span>*</span>
  </ul>
 <ul><label>公司邮箱：</label>
    <%= f.text_field :company_email%> <span>*</span>
  </ul>
 
  <ul><label>您的邮编：</label>
    <%= f.text_field :postal%> <span>*</span>
  </ul>
  <ul><label>公司简介：</label>
    <%= f.text_area :description, :rows => 5, :cols => 40 %>
    <span>*</span>
  </ul>
  <ul class="gray9">你在俱乐部的所有信息和言论，我们都将严格保密，绝不以任何形式透露给他方。</ul>
  <div class="blank10"></div>
  <ul class="tc">
    <%= submit_tag '提交' %>
  </ul>
  <div class="clear"></div>
<% end %>
